.banner{
	background-image: url(../../image/avat.jpg);
	color: #FAF8FA;
	padding: 150px 0px;
	background-size: cover;
}

.banner h1 {
	font-size: 40px;
	color: #FAF8FA;

}

.banner p {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
	color: #FAF8FA;

}

.bannermorning{
	background-image: url(../../image/morning1.jpg);
	color: black;
	padding: 150px 0px;
	background-size: 400px 300px;
}

.bannerfood{
	background-image: url(../../image/food1.jpg);
	color: black;
	padding: 150px 0px;
	background-size: 400px 300px;

}

.bannerpositive{
	background-image: url(../../image/positive1.jpg);
	color: black;
	padding: 150px 0px;
	background-size: 400px 300px;
}

.bannersport{
	background-image: url(../../image/sport1.jpg);
	color: black;
	padding: 150px 0px;
	background-size:400px 300px;
}

}
