.btn-purple{
	background-color: #800080;
	padding: 15px 20px;
	border-radius: 5px;
	color: white ;
	font-weight: normal;
}

.btn-bleu{
        background-color: #547CEE;
	padding: 15px 20px;
	border-radius: 5px;
	color: white ;
	font-weight: normal;
}




